.box {
    background-color: black;
    width: 16vw;
    height: 10vy;
    padding: 3px;
    margin-right: 4px;
}

.text {
    color: white;
    font-size: 3vw;
}

.value {
    color: aqua;
    text-align: right;
    font-size: 6.0vw;
    font-weight: bold; 
}

.unit {
    color:grey;
    text-align: right;
    font-size: 3vw;
}